/*app css*/

.box{
  font-family: "Open Sans", sans-serif;
  height: 100vh;
  background-image: url("/images/bg5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.left-box{
  position: relative;
  height: 85%; 
  width: 40%;
  padding-left: 1rem;
  color: white;
  background-image: url("/images/leftbox.jpeg");
  background-repeat: no-repeat;
  position: relative;
  background-position-x: -30px;

}

.location{
  text-align: right;
  padding-right: 10px;
}

.bottom-content{
  position: absolute;
  bottom: 0%;
  text-align: left;
  margin-top: 20px;
}

.bottom-content h3{
  font-size: 2.4rem;
  margin-bottom: 0;
}

.DateTemp{
  position: relative;
  display: flex;
  flex-direction: row;
  height: auto;
  width: 100%;
}

.DateTemp h2{
  font-size: 20px;
  padding-bottom: 8px;
}

.DateTemp h1{
  position: absolute;
  left: 15rem;
  bottom: 0px;
  font-size: 5rem;

}

.DateTemp img {
  position: absolute;
  height: 4rem;
  width: 5rem;
  left: 15rem;
  bottom: 0.4rem;
  
}


/*right box*/

.right-box{
  position: relative ;
  height: 85%;
  width: 21%;
  color: white;
  text-align: center;
  background-color: black;
  border: 1px solid black;
  opacity: 0.6;
} 


.wrapper {
  position: relative;
  display: inline-block;
  text-align: center;
}

.wrapper input {
  background-color: transparent;
  padding-right: 35px;
  border: none;
  border-bottom: 1px solid silver;
}

.wrapper input:focus {
  outline: none;
}

.wrapper button {
  position: absolute;
  top: 0px;
  right: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

.wrapper button:hover {
  transform: scale(1.2);
  transition-delay: 100ms;
  
}

.weathericon {
  height:7rem;
  width:auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



.weathericon h1{
  font-size:larger;
  padding-top: 10px;
  padding-bottom: 0px;
}

hr.hrr{
  width: 90%;
  translate: 5%;
  border: 1.4px solid white;
  border-radius: 5px;
}

.list{
  padding-top: 2rem;
  width: 90%;
  display: flex;
  flex-direction: column;
}

.list ul{
  width: 100%;
  list-style-type: none;
}


.Litemp{
  display: flex;
  justify-content: space-between;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-bottom: 1px solid grey ;
}

.Litemp1{
  display: flex;
  justify-content: space-between;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.temp{
  font-size: 20px;
}

@media screen and (max-width: 1440px){
  .wrapper input {
    width: 11rem;
    background: transparent;
  }
}


@media screen and (max-width: 935px)  {

  .wrapper input {
    width: 11rem;
    background: transparent;
  }

  .wrapper button{
    background-color: transparent;
    position: absolute;
    top: 0px;
    right: 0;
    
  }

  .box{
    height: 100vh;
    width: 100%;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    }
  

  .left-box{
    height: 80%;
    width: 45%;
    padding-left: 10px;
    }

    .bottom-content h3{
      font-size: 35px;
      margin-bottom: 4px;
    }

    .DateTemp{
      height:auto;
      display: flex;
      flex-direction: column;
    }

    .DateTemp h2{
      font-size: 20px;
    }

    .DateTemp h1{
      font-size: 50px;
      position: absolute;
      left: 13rem;
    }

    .DateTemp img {
      position: absolute;
      left: -10px;
      
    }
  
  .right-box{
    width: 30%;
    height: 80%;
  }

  .temp{
    font-size: 14px;
  }


}


@media only screen and (max-width: 500px)  {


  .box{
  height: 100vh;
  width: 100%;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  }

  .left-box{
  height: 70%;
  width: 50%;
  }

  .right-box{
    height: 70%;
    width: 40%;
  }

  .bottom-content h3{
    font-size: 24px;
    padding-left: 1px;
  }

  .DateTemp{
    display: flex;
    flex-direction: column;
    padding-left: 1px;
    width: 100%;
    font-size: small;
  }
  
  .DateTemp h2{
    font-size: 16px;
    padding-bottom: 3.6rem;
  }

  .DateTemp h1{
    position: absolute;
    padding-left: 1px;
    left: 0;
    font-size: xx-large;
    top: 1.6rem;
  }

  .DateTemp img {
    position: absolute;
    left: -5px;
    
  }

  .wrapper input {
    width: 8rem;
  }

  .list{
    font-size: small;
    padding-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .list ul{
    padding-left: 0;
    list-style-type: none;
  }

  .temp{
    font-size: 14px;
  }


}
